

.mobile {
  width: 375px;
  height: 812px;
  min-height: 812px;
  display: flex;
  flex-direction: column;
  background-color: #F5FCFF;

  border: 8px solid #000;
  border-radius: 45px;

}
.publishBtn {
    background: #6F40EE;
    border: 0;
    width: 60px;
    height: 30px;
    color: #fff;
    border-radius: 12px;
    margin-left: 10px;
    cursor: pointer;
}
.publishBtn[disabled] {
  opacity: 0.4;
  cursor: not-allowed;
}
iframe {
  border: 0;
  width: 100%;
  height: 100%;
}

.toolbar {
  background-color: #F5FCFF;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.status-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 14px;
}

.wifi, .signal {
  margin-right: .5em;
}

.status-bar .time {
  justify-content: center;
  margin-right: auto;
  margin-left: 7px;
  width: 54px;
  font-size: 14px;
  font-weight: 600;
}

.status-bar .battery {
  margin-right: .8em;
}

.bottom {
  height: 34px;
}

.nav {
  border-bottom: 1px solid #f3f3f3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.nav p {
  margin: 0;
}

.nav .title {
  font-size: 16px;
  font-weight: bold;
}

.rounded-bar {
  background: #000;
  border-radius: 3px;
  height: 4px;
  margin-top: 22px;
  width: 130px;
}

.icon {
  width: 20px;
  padding: 0 4px;
  line-height: 35px;
  cursor: pointer;
  font-size: 16px;
  filter: url(#tint-13);

}
.icon:active {
  opacity: 0.3;
}

.icon.selected {
  filter: url(#tint-12);
}
